.App {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px auto;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;

  .notes-main {
    width: 30%;
    position: relative;
  }

  .notes-side {
    width: 70%;
    background: #fcf3ec;
    position: relative;
  }
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: inherit;
}

* {
  box-sizing: border-box;
}
