.notes-functions {
  background: gray;
  height: 1000px;

  h1 {
    font-family: 'Roboto';
    font-size: 45px;
    padding: 70px 0;
  }

  div {
    margin: 50px auto;
  }

  .list-view {
    color: white;
    background: lightblue;
    font-size: 30px;
    width: 70%;
    padding: 30px;
  }

  .add-notes {
    color: white;
    background: lightblue;
    font-size: 30px;
    width: 70%;
    padding: 30px;
  }
}
