.notes-functions {
  background: gray;
  height: 1040px;
  position: absoulute;
  overflow-y: hidden;
  h1 {
    font-family: 'Roboto';
    font-size: 40px;
    padding: 70px 0;
    font-weight: bold;
  }

  div {
    margin: 50px auto;
  }

  .list-view {
    color: white;
    background: lightblue;
    font-size: 30px;
    width: 70%;
    padding: 20px;
  }

  .add-notes {
    color: white;
    background: lightblue;
    font-size: 25px;
    width: 70%;
    padding: 20px;
  }

  input {
    width: 70%;
    padding: 10px;
  }
}
