.tags-icons {
  margin-top: 20px;
  display: flex;
  font-family: 'Roboto';
  font-weight: 10px;
  .Completed {
    background: linear-gradient(to top left, #66ff66 0%, #ccffff 100%);
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
  }
  .Deprecated {
    background: linear-gradient(to left, #cc0000 0%, #ff3300 55%);
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
  }
  .In-Progress {
    background: linear-gradient(to left, #ffff66 0%, #99ff33 80%);
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
  }
}
